In [ ]:
import pandas as pd
import openpyxl

In [ ]:
wb = openpyxl.load_workbook('LinkedinCompanyList.xlsx')
ws = wb['Sheet1']

print(ws.cell(row=6, column=1).hyperlink.target)

In [ ]:
print(dfCompanyList.head())

In [1]:
import ast
import pandas as pd

In [2]:
df = pd.read_csv('/Users/raph/Documents/Dataship_Code/lW4B.csv')

In [3]:
df.head()

,company_employees_range,company_industry,company_name,current_company_name,current_company_url,current_job_title,description,education,experiences,extracted_at,...,profile_language,profile_url,school_name,school_url,skills,start_url,summary,title,tracking_id,volunteer_experiences
0,5001 - 10000,Financial Services,Natixis,Natixis,https://www.linkedin.com/company/natixis-corpo...,Head of the IT of Technology and Transformatio...,"Transparency, play as a team and taking risks ...","[{""school_name"": null, ""title"": null, ""date"": ...","[{""title"": ""Head of the IT of Technology and T...",2023-01-31T10:28:36.416000,...,en,https://www.linkedin.com/in/francoisleguillou,NaN,https://www.linkedin.com/school/institut-polyt...,"[""Software Project Management"", ""Summit"", ""Bus...",https://www.linkedin.com/in/ACwAAAClYlgBF1JPGU...,"Transparency, play as a team and taking risks ...",Head of the IT of Technology and Transformatio...,ue3pPkJDS5GPJqIaHAz/FQ==,[]
1,5001 - 10000,Wine & Spirits,Moët Hennessy,Moët Hennessy,https://www.linkedin.com/company/moethennessy/,Operations Manager,Experienced developer of new products and pack...,"[{""school_name"": ""ISA Lille"", ""title"": ""Food I...","[{""title"": ""Operations Manager"", ""company_name...",2023-01-31T10:28:38.635000,...,en,https://www.linkedin.com/in/laura-pernet-362487,ISA Lille,https://www.linkedin.com/school/isa-lille/,"[""Market Analysis"", ""Marketing Research"", ""Man...",https://www.linkedin.com/in/ACwAAAAR6ToB-kcTxF...,Experienced developer of new products and pack...,Operations Manager,ZyfLRVP8S12bENFz+J8wPw==,"[{""role"": ""Member - Niger team"", ""company_name..."
2,5001 - 10000,Financial Services,Natixis,Natixis,https://www.linkedin.com/company/natixis-corpo...,Senior Data Engineer,"Scala, Big Data, Kafka, Kafka Streams, Spark","[{""school_name"": ""Université Pierre et Marie C...","[{""title"": ""Senior Data Engineer"", ""company_na...",2023-01-31T10:28:46.534000,...,fr,https://www.linkedin.com/in/thomas-a-03ab3422,Université Pierre et Marie Curie (Paris VI),https://www.linkedin.com/school/universite-pie...,"[""UML"", ""Java Enterprise Edition"", ""Java"", ""My...",https://www.linkedin.com/in/ACwAAATLci4BsGt8yF...,"Scala, Big Data, Kafka, Kafka Streams, Spark",Senior Data Engineer,2owvpyMORCC3SZm6jEGqxw==,[]
3,5001 - 10000,Cosmetics,Yves Rocher,Yves Rocher,https://www.linkedin.com/company/yves-rocher/,Responsable Marketing Operationnel Retail YR F...,NaN,"[{""school_name"": ""Audencia Business School"", ""...","[{""title"": ""Responsable Marketing Operationnel...",2023-01-31T10:28:48.381000,...,en,https://www.linkedin.com/in/élise-devaud-stouf...,Audencia Business School,https://www.linkedin.com/school/audencia/,"[""Trade Marketing"", ""Cosmetics"", ""Marketing"", ...",https://www.linkedin.com/in/ACwAAACrrIMBJKGI6C...,NaN,Responsable Marketing Operationnel Retail YR F...,M2AE+BwBR0+oL6HTjsi3tQ==,[]
4,5001 - 10000,Information Technology & Services,Econocom,Econocom,https://www.linkedin.com/company/econocom/,Responsable Recrutement IT | France Régions,Première Entreprise Générale du Digital en Eur...,"[{""school_name"": ""IAE Aix-en-Provence"", ""title...","[{""title"": ""Responsable Recrutement IT | Franc...",2023-01-31T10:28:50.584000,...,fr,https://www.linkedin.com/in/sophie-lecouvé-b52...,IAE Aix-en-Provence,NaN,"[""HR Consulting"", ""Talent Management"", ""Employ...",https://www.linkedin.com/in/ACwAAAs3pi4B-EeJqC...,Première Entreprise Générale du Digital en Eur...,Responsable Recrutement IT | France Régions,wGBecbMWRPWdmVMqXvmREw==,[]

In [4]:
table = {'email': df['company_industry'],
             'result': df['company_name']}

In [5]:
print(type(table))

<class 'dict'>

In [6]:
table.keys()

dict_keys(['email', 'result'])

In [7]:
rows = []
for i in range(len(df)):
    row = {'email': df['company_industry'][i],
             'result': df['company_name'][i]}
    rows.append(row)

In [8]:
print(type(rows[0]))

<class 'dict'>

In [9]:
import airplane

ModuleNotFoundError: No module named 'airplane'

In [ ]:
airplane.display.table(
        rows
    )